/* NORMAL FLOW */

/* body {
    width: 750px;
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
}

h1 {
    background-color: #efefef;
    padding: 10px;
}

p {
    width: 450px;
} */

/* RELATIVE POSITIONING */
/* p {
    position: relative;
    top: 10px;
    left: 100px;
} */

/* ABSOLUTE POSITIONING */
/* h1 {
    position: absolute;
    top: 0px;
    left: 500px;
    width: 250px;
}

p {
    width: 450px;
} */

/* FIXED POSITIONING */
/* h1 {
    position: fixed;
    top: 0px;
    left: 50px;
    padding: 10px;
    margin: 0px;
    width: 100%;
    background-color: #efefef;
}

p {
    margin-top: 100px;
} */

/* Z-INDEX */
/* h1 {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 10px;
    width: 100%;
    background-color: #efefef;
    z-index: 1;
}

p {
    position: relative;
    top: 70px;
    left: 70px;
} */

/* FLOATING ELEMENTS */
/* blockquote {
    float: right;
    width: 275px;
    font-size: 130%;
    font-style: italic;
    font-family: Georgia, Times, serif;
    margin: 0px 0px 10px 10px;
    padding: 10px;
    border-top: 1px solid #665544;
    border-bottom: 1px solid #665544;
} */

/* place elements side by side */
/* body {
    width: 750px;
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
} */

/* #container{
    width: 70%;
    border: 1px solid red;
} 

p {
    width: 230px;
    float: right;
    margin: 5px;
    padding: 5px;
    background-color: #efefef;
    clear: right;
}*/

/* floats */
/* img{
    float: right;
}

p{
    clear: right;
} */

/* .column1of3 {
    float: left;
    width: 300px;
    margin: 10px;
    padding:10px;
}

.column2of3 {
    float: left;
    margin: 10px;
    width: 300px;
    padding: 10px;
}

.column3of3 {
    float: left;
    margin: 10px;
    width: 300px;
    padding: 10px;
} */

/* FIX WIDTH LAYOUT */
/* body {
    width: 960px;
    margin: 0 auto;
}

#content {
    overflow: auto;
    height: 100%;
}

#nav,
#feature,
#footer {
    background-color: #efefef;
    padding: 10px;
    margin: 10px;
}

.column1,
.column2,
.column3 {
    background-color: #efefef;
    width: 300px;
    float: left;
    margin: 10px;
}

li {
    display: inline;
    padding: 5px;
} */

/* LIQUID LAYOUT */
/* body {
    width: 90%;
    margin: 0 auto;
}

#content {
    overflow: auto;
}

#nav,
#feature,
#footer {
    margin: 1%;
}

.column1,
.column2,
.column3 {
    width: 31.3%;
    float: left;
    margin: 1%;
}

.column3 {
    margin-right: 0%;
}

li {
    display: inline;
    padding: 0.5em;
}

#nav,
#footer {
    background-color: #efefef;
    padding: 0.5em 0;
}

#feature,
.article {
    height: 10em;
    margin-bottom: 1em;
    background-color: #efefef;
} */

/* 960 GRID SYSTEM */
/* * {
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
    text-align: center;
}

#nav,
#feature,
.article,
#footer {
    background-color: #efefef;
    margin-top: 20px;
    padding: 10px 0px 5px 0px;
}

#feature,
.article {
    height: 100px;
}

li {
    display: inline;
    padding: 5px;
} */

/* MULTIPLE STYLESHEETS IN CSS @import */
/* @import url('./test-stylesheet.css');
#heading1{
    color: red;
} */