/* BOX DIMENSIONS */
/* div{
    height: 500px;
    width: 200px;
    background-color: wheat;
}

p{
    width: 20%;
} */

/* LIMITING WIDTH */
/* td.description{
    min-width: 450px;
    max-width: 650px;
    text-align: left;
    padding: 5px;
    margin: 0px;
} */

/* LIMITING HEIGHT */
/* h2, p {
    width: 400px;
    font-size: 90%;
    line-height: 1.2em;
}

h2 {
    color: #0088dd;
    border-bottom: 1px solid #0088dd;
}

p{
   max-height: 250px;
   border: 1px solid red;
} */

/* OVERFLOW */
/* p {
    max-height: 50px;
    border: 1px solid red;
    overflow: scroll;
} */

/* BORDER WIDTH */
/* one by one */
/* p{
    border-top-width:1px; 
    border-right-width:2px; 
    border-bottom-width:3px; 
    border-left-width:4px;
} */
/* shorthand */
/* p{
    border-style: solid;
    border-width: 1px 2px 3px 4px;  clockwise->top right bottom left
} */

/* BORDER STYLE */
/* solid, dashed, dotted, double, groove, inset, outset, ridge etc */
/* p{
    border-style: groove;
} */

/* BORDER COLOR */
/* border-top-color border-right-color border-bottom-color border-left-color */
/* p{
    border-style: dashed;
    border-color: red;
} */

/* BORDER SHORTHAND */
/* p{
    border: 12px solid red;
} */

/* PADDING */
/* p{
    border: 2px solid red;
} */

/* MARGIN */
/* p{
    border: 2px solid red;
}

#p2{
    margin-top: 200px;
} */

/* CENTERING CONTENT */
/* p{
    border: 2px solid red;
    width: 300px;
    padding: 50px;
}

.example {
    margin-left: auto;
    margin-right: auto;
} */

/* CHANGE INLINE BLOCK */
/* li{
    display: inline;
    margin-right: 10px;
}

li.coming-soon {
    display: none;
} */

/* HIDING BOXES */
/* li{
    display: inline;
    margin-right: 10px;
}

li.coming-soon {
    visibility: visible;
} */

/* BORDER IMAGES */
/* .one{
    border: 20px solid transparent;
    padding: 10px;
    border-image: url(./images/connect-the-dots.png) 30 repeat;
} */

/* BOX SHADOW */
/* .one{
    width: 200px;
    box-shadow: 0 0 10px red;
} */

/* ROUNDED CORNERS */

/* body{
    background-color: black;
}
p{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
} */

/* img{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
} */