/* COLOR NAME */
/* h1{
    color: tomato;
} */

/* HEX CODE */
/* h1{
    color: #333ba6;
} */

/* RGB */
/* h1{
    color: rgb(191,39,31);
} */

/* BACKGROUND COLOR */
/* body{
    background-color: wheat;
    color: red;
} */

/* div{
    background-color: wheat;
    color: red;
} */

/* OPACITY */
/* #div1{
    background-color: green;
    opacity: 0.5;
} */

/* img{
    opacity: 0.5;
} */